// EventDetails.module.scss

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
  font-family: 'Arial', sans-serif;
  color: #333;
  // background-color: #ffffff;
}

// Card Container
.card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  overflow: hidden;
  padding: 20px;
}

// Banner Image
.bannerImage {
  width: 100%;
  height: 50%;
  display: flex;
  border-radius: 20px;
}

// Card Content
.cardContent {
  padding: 15px;
}

.eventName {
  font-size: 2rem;
  font-weight: 800;
  color: #000000; // Purple color for event name
  margin-bottom: 10px;
}

.eventType,
.price {
  font-size: 1rem;
  font-weight: 700;
  margin: 5px 0;
}

.sectionHeading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 0 10px;
  color: #000000;
}

.datetime {
  display: flex;
  align-items: center;
  margin: 20px 0;

  .icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #000000; // Purple for icons
  }
}

// Location Card
.location {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  .icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #000000;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }
}

.mapImage {
  width: 50%;
  border-radius: 20px;
  margin-top: 10px;
}

// Organizer Card
.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 1rem; /* Space between grid items */
  margin-top: 1rem;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inlineInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between image and text */
}

.profileImage {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%; /* Circular image */
}

.sectionHeading {
  margin: 0.5rem 0; /* Adjust spacing */
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  margin-top: 10px;
}

// // General Styling
// h2,
// h3 {
//   color: #6a1b9a;
// }

// p {
//   color: #333;
//   line-height: 1.4;
// }