.container {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(40, 121, 221, 0.852);
  background-color: white;
}

/* Chart Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chartContainer {
  height: 400px;
  position: relative;
}

.filter {
  display: flex;
  align-items: center;
}



.filterSelect:hover {
  border-color: #6200ea;
}

.filterSelect {
  border: 1px solid #6200ea;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
