.container {
  padding: 20px;
  background: white;
  border-radius: 20px;
  width: 100%
}

.card {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  // padding: 20px;
  // background-color: #fff;
  border-radius: 20px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progressBar {
  flex-direction: column;
  align-items: center;
  width: 100%;
  // padding: 20px;

  .title {
    font-size: 2rem;
    font-weight: 800;
    color: #5e217e;
    margin-bottom: 20px;
    text-align: left;
  }

  .barContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px); /* Adjust to fit circles */
    margin: 20px 20px 0; /* Add padding around */
    padding: 0;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 15px; /* Align with the first circle */
    right: 40px; /* Align with the last circle */
    height: 4px;
    background-color: #c4c4c4;
    z-index: 0;

    // &.active {
    //   background-color: #5e217e;
    // }
  }

  .step {
    position: relative;
    // display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    .circle {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #fff;
      border: 4px solid #c4c4c4;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        border-color: #5e217e;
      }
    }

    .label {
      padding-top: 10px; /* Adjust the gap between the label and the circle */
      font-size: 0.9rem;
      font-weight: bold;
      color: #5e217e;
      text-align: center;
      position: relative; /* Ensure it aligns correctly below the circle */
      top: 20px; /* Push it slightly down to align perfectly */
    }
  }

  .stepbuttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;

    .StepButton {
      width: 100%;
      padding: 10px 20px;
      background: #4b0082;
      color: #fff;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      transition: background 0.3s, transform 0.2s;

      &:hover {
        background: #371061;
        transform: translateY(-2px);
      }

      &:disabled {
        background: #c4c4c4;
        cursor: not-allowed;
      }
    }
  }

  .step:not(:last-child) {
    flex: 1;
  }

  .step .circle {
    position: relative;
    top: 0.5px;
    transform: translateY(50%); /* Align circles vertically */
  }
}
