$primary-color: #4f2be3; // Define the primary color variable

.container {
  padding: 20px;
  background: white;
  border-radius: 20px;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.progressBar {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;

  .title {
    font-size: 2rem;
    font-weight: 800;
    color: #4b0082;
    margin-bottom: 20px;
    text-align: left;
  }

  .barContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;

    .lineContainer {
      position: absolute;
      top: 45%;
      left: 15px; /* Matches the circle radius */
      right: 15px; /* Matches the circle radius */
      height: 4px;
      background-color: #c4c4c4;
      overflow: hidden; /* Ensures line doesn't extend beyond the container */

      .line {
        height: 100%;
        background-color: $primary-color;
        width: 0%; /* Dynamically updated based on steps */
        transition: width 0.3s ease-in-out;
      }
    }
  }

  .step {
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    .circle {
      width: 32px; /* Slightly larger to fill the space */
      height: 32px;
      border-radius: 50%;
      background-color: #fff;
      border: 4px solid #c4c4c4;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
      color: #c4c4c4; /* Default text color */

      &.active {
        border-color: $primary-color;
        color: $primary-color; /* Text color matches the active border */
      }
    }
  }

  .stepbuttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;

    .StepButton {
      width: 100%;
      padding: 10px 20px;
      background: #4b0082;
      color: #fff;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      transition: background 0.3s, transform 0.2s;

      &:hover {
        background: #371061;
        transform: translateY(-2px);
      }

      &:disabled {
        background: #c4c4c4;
        cursor: not-allowed;
      }
    }
  }
}
